Input-files: *.txt content/*.txt globals/*.txt header/macros/*.txt footer/macros/*.txt item_details/*.txt shopping_cart/*.txt wizard/*.txt order_wizard/*.txt creditcard/*.txt address/*.txt login_register/*.txt merchandising/macros/*.txt
Combined-file: Templates.js
Keep-files: 1
Referring-files: ../*.ssp
Version: 2
Variable-name: SC.templates